---
import dayjs from "dayjs";
import MainLayout from "@layouts/MainLayout.astro";
import Section from "@components/Section.astro";
import Anchor from "@components/Anchor.astro";

const title = "Parcours";
---

<script>
  import dayjs from "dayjs";
  const startDate = dayjs("2013-09-01");
  const today = dayjs();
  const years = today.diff(startDate, "year");
  const months = today.diff(startDate, "month") - years * 12;
  const text = `${years} ans${months > 0 ? ` et ${months} mois` : ""}`;

  const rainbowText = document.querySelector("#rainbow-text");
  if (rainbowText) {
    const isAnimatable = window.matchMedia(
      "(prefers-reduced-motion: no-preference)",
    ).matches;

    if (isAnimatable) {
      let html = "";
      const commonClasses = "inline-block whitespace-break-spaces";
      text.split("").forEach((char, index) => {
        const span = `<span class="${commonClasses} animate-slidein" style="--index: ${index}"><span class="${commonClasses} animate-rainbow">${char}</span></span>`;
        html = html + span;
      });
      rainbowText.innerHTML = html;
    } else {
      rainbowText.textContent = text;
    }
  }
</script>

<MainLayout title={title}>
  <Section title={title}>
    <p class="sr-only">
      Je travaille dans le Web depuis le {
        dayjs("2013-09-01").format("DD/MM/YYYY")
      }
    </p>

    <div aria-hidden="true">
      <p class="pb-3">Je travaille dans le Web depuis</p>
      <div
        id="rainbow-text"
        class="min-h-[2.5rem] pb-3 text-center font-mono text-xl uppercase sm:min-h-[3rem] sm:text-3xl"
      >
      </div>
    </div>

    <h3 class="py-4 font-mono text-xl">
      Jan 2024 - Présent <span aria-hidden="true">🛍️ 🪃</span>
    </h3>
    <p class="pb-3">
      Je suis retourné chez Shopify en tant que développeur front-end senior. Je
      contribue à la plateforme Customer Accounts & Sign-in ainsi qu'à sa <Anchor
        href="https://shopify.dev/docs/api/customer-account-ui-extensions/latest/web-components"
      >
        bibliothèque de composants
      </Anchor>, tout en promouvant les bonnes pratiques en matière
      d'accessibilité.
    </p>

    <h3 class="py-4 font-mono text-xl">
      Apr 2023 - Oct 2023 <span aria-hidden="true">🐇 ✈️</span>
    </h3>
    <p class="pb-3">
      J'ai rejoint l'équipe <strong>Hopper for Business</strong> en tant que
      développeur front-end senior où j'ai joué un rôle important dans divers
      projets au sein de deux monorepos utilisant des frameworks tels que Turbo,
      Nx, Next.js, Vite, MUI, Playwright et MSW. J'ai contribué à l'admin, au
      portail de réservation de vols et d'hôtels et à leur authentification.
      J'ai également mis en place un site marketing avec Webflow.
    </p>
    <p class="pb-3 text-sm">
      Suite à la mise en ligne de tous ces projets en seulement six mois, j'ai
      malheureusement fait partie d'un licenciement massif.
    </p>

    <h3 class="py-4 font-mono text-xl">
      Jul 2022 - Mar 2023 <span aria-hidden="true">🌐 📊</span>
    </h3>
    <p class="pb-3">
      J'ai travaillé chez <strong>Meta</strong> en tant que développeur
      front-end senior au sein de l'équipe Commerce Insights. J'ai contribué à
      l'application Facebook &amp; Instagram sur Shopify, dans le cadre de
      l'ajout de trois nouvelles cartes affichant différentes statistiques. Pour
      chaque carte, j'ai créé des tableaux de bord et des alertes pour
      surveiller leur état de santé et leurs performances. J'ai résolu
      différents bogues (responsive design, internationalisation, accessibilité,
      etc.) sur les plateformes Commerce Manager et Ads Manager. J'ai également
      contribué à améliorer la couverture des tests en partageant les meilleures
      pratiques en matière de test et en mettant en place de nouveaux tests <abbr
        title="end to end">e2e</abbr
      >.
    </p>
    <p class="pb-3 text-sm">
      Malgré un impact positif confirmé par ma cheffe d'équipe. Meta n'offrait
      pas ce que je recherchais en termes de culture du télétravail.
    </p>

    <h3 class="py-4 font-mono text-xl">
      Apr 2019 - Jun 2022 <span aria-hidden="true">🇨🇦 🛍️</span>
    </h3>
    <p class="pb-3">
      J'ai travaillé chez <strong>Shopify</strong> dans leur bureau de Montréal,
      puis à distance après la pandémie de COVID. J'ai contribué à l'admin
      destiné aux commerçants ainsi que sur son design system Polaris. J'ai
      aussi travaillé sur la nouvelle version des comptes acheteurs, j'ai
      notamment agi en tant que champion en <Anchor
        href="https://dev.to/sylvhama/how-to-test-your-web-app-accessibility-26di"
      >
        accessibilité
      </Anchor> au sein de mon équipe. J'ai encadré des développeurs via des
      revues de code et de la programmation en binôme. J'ai également managé des
      projets avec des équipes multidisciplinaires.
    </p>
    <p class="pb-3 text-sm">
      J'appréciais énormément travailler à Shopify. Cependant suite à
      l'obtention de ma résidence permanente j'ai voulu découvrir d'autres
      horizons.
    </p>

    <h3 class="py-4 font-mono text-xl">
      Jul 2017 - Apr 2019 <span aria-hidden="true">🇨🇦 🎮</span>
    </h3>
    <p class="pb-3">
      J'ai travaillé chez <strong>Ubisoft Montréal</strong> en tant que
      développeur web pendant près de deux ans. Ma principale activité
      consistait à entretenir et développer des fonctionnalités pour
      l'application Ubisoft Club disponible sur PlayStation 4, Xbox One et
      Nintendo Switch. J'ai également créé une Progressive Web App utilisée pour
      développer facilement des outils internes. De plus, j'ai travaillé sur des
      webviews qui résument la progression du joueur dans le Club, visibles
      depuis le menu principal de Assassin's Creed Origins et Odyssey.
    </p>
    <p class="pb-3 text-sm">
      J'ai quitté Ubisoft car je souhaitais rejoindre une structure centrée sur
      le Web.
    </p>

    <h3 class="py-4 font-mono text-xl">
      Sep 2013 - Feb 2017 <span aria-hidden="true">🇰🇷 🇯🇵</span>
    </h3>
    <p class="pb-3">
      Après avoir obtenu ma maîtrise, j'ai travaillé en tant que développeur web
      pendant deux ans chez Asiance, une agence digitale basée à <strong
        >Séoul</strong
      >. J'ai également travaillé à <strong>Tokyo</strong> en tant que
      développeur web pour deux agences digitales. J'ai d'abord rejoint Netwise
      pendant huit mois, puis j'ai travaillé chez Cream pendant environ un an.
      Pendant mon séjour en Asie, j'ai contribué pour environ <strong
        >30 applications web et sites web responsive</strong
      > pour des clients tels que Lacoste ou Air France.
    </p>

    <h3 class="py-4 font-mono text-xl">
      Études <span aria-hidden="true">🇫🇷 🎓</span>
    </h3>
    <p>
      J'ai été diplômé de l'Université Lumière Lyon 2 en 2013, avec une maîtrise
      en informatique axée sur le développement web. J'ai également obtenu une
      licence 3 en science des données. J'ai effectué des stages dans quatre
      entreprises différentes en France, au Luxembourg et en Corée du Sud.
    </p>
  </Section>
</MainLayout>
